# BASE DE DATOS → SQLite
DB_TYPE=sqlite

# Seguridad (opcional)
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=ponetuclave

# Timezone (opcional)
GENERIC_TIMEZONE=America/Argentina/Buenos_Aires
TZ=America/Argentina/Buenos_Aires

# Host y puerto n8n
N8N_HOST=0.0.0.0
N8N_PORT=5678
